# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build
/frontend/dist/
/frontend/.vite/

# Backend build
/backend/dist/

# Environment
.env
.env.*

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Mac
._*

# Misc
.cache/
coverage/
