CLOUDINARY_API_SECRET=your_secret_here
CLOUDINARY_API_KEY=your_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
DATABASE_URL=postgresql://lukato:DKDHQNxPqpOnkwzQP4JroVCeiY3Zf6ji@dpg-d8acd419rddc73a0q1b0-a.oregon-postgres.render.com/business_vl6c
NODE_ENV=development